$indigo: #00bbff;
$white: #ffffff;
$dark: #080e10;
$green: #00dc93;
$gradient: linear-gradient(203deg, rgb(16, 37, 233) 0%, rgb(0, 187, 255) 100%);
$gradient2: linear-gradient(203deg, rgb(0, 187, 255) 0%, rgb(16, 37, 233) 100%);

.green {
  color: $green;
}
.indigo {
  color: $indigo;
}
