.Toastify__toast-container {
    .Toastify__toast {
      background-color: #333; // Change to your preferred background color
      color: #fff; // Change to your preferred text color
      border-radius: 8px; // Adjust border radius as needed
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); // Optional shadow
      font-size: 14px; // Adjust font size
    }
  
    .Toastify__toast--success {
      background-color: #4caf50; // Green for success
    }
  
    .Toastify__toast--error {
      background-color: #f44336; // Red for error
    }
  
    .Toastify__toast--info {
      background-color: #2196f3; // Blue for info
    }
  
    .Toastify__toast--warning {
      background-color: #ff9800; // Orange for warning
    }
  }