/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Hero Section */
.heroContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 10%;
  z-index: -1;
}

/* Hero Content */
.heroContent {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  @media screen and (max-width: 800px) {
      flex-direction: column;
      text-align: center;
      padding: 2%;
  }
}

/* Content Box */
.box {
  padding: 4%;
  max-width: 80%;
  color: #fff;
  text-align: left;
  transition: transform 0.3s ease;
  
  h2 {
      font-size: 2rem;
      margin-bottom: 10px;
  }

  p {
      font-size: 1.2rem;
  }

  &:hover {
      transform: translateY(-5px);
  }

  @media screen and (max-width: 800px) {
      text-align: center;
      max-width: 100%;
  }
}

/* Media Holder */
.mediaHolder {
  // max-width: 70%;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 800px) {
      max-width: 100%;
  }
}

.videoPlayer {
  margin-top: 20px;
  border-radius: 10px;
  max-width: 52%;
  object-fit: cover;
}

.brandImage {
  max-width: 40%;
  height: auto;
}
.brandImageHolder{
  display: flex;
  justify-content: center;
  max-width: fit-content;
  align-items: center;
}

.brandTextHolder{
  display: flex;
  flex-direction: column;
  align-items: flex-start;;
  hr{
    margin: 0;
    border-radius: 20px;
    border: 1px solid #0073ff;
  }
  h2{
    font-size: 26px;
    margin-bottom: 0;
  }
  p{
    font-size: 22px;
  }
  i{
    font-size: 16px;
  }
}

.logoCutout {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 30px;
  margin-bottom: 30px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    width: 225px;
  }
  h2{
    font-size: 24px !important;
  }
}

/* Agenda Section */
.agendaText {
  text-align: left;
}

.agendaBox {
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  color: #fff;

  h2 {
      font-size: 28px;
  }

  p {
      font-size: 1.2rem;
  }

  @media screen and (max-width: 800px) {
      max-width: 100%;
      text-align: center;
  }
}

.agendaImage {
  width: 80%;
  transition: transform 1.4s ease;
}

.agendaImage:hover {
  transform: scale(1.05);
}

/* Purpose Section */
.purposeContainer {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin-top: 3.5rem;
  h1 {
      font-size: 3.5rem;
      margin-bottom: 20px;
  }

  h2 {
      font-size: 28px;
      margin-top: 20px;
  }
  p{
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
  }

  @media screen and (max-width: 800px) {
      h1 {
          font-size: 2.5rem;
      }
  }
}

.purposeTextContainer {
  max-width: 600px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

/* Features Section */
.featureHeading h1 {
  font-size: 3.5rem;
  margin: 20px 0;
  text-align: center;
}

.featureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;

  h1 {
      font-size: 2.5rem;
      text-align: center;
  }

  hr {
      width: 50px;
      border: 1px solid #fff;
      margin: 20px 0;
  }
}

.featureImg {
  border-radius: 10px;
  width: 50%;
  transition: transform 0.4s ease;

  &:hover {
      transform: scale(1.05);
  }

  @media screen and (max-width: 1350px) {
      width: 60%;
  }

  @media screen and (max-width: 800px) {
      width: 80%;
  }
}

/* Brand Carousel */
.brand-carousel {
  padding: 30px 0;
  text-align: center;
}


.brandCarouselHolder{
    // display: flex;
}

.slider {
  width: 100%;
}

.slide {
  position: relative;
  height: 180px;
  margin: 0 10px;
  overflow: hidden;
  // background-color: rgba(12,3,51,0.3);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.slide-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.slide:hover {
  transform: translateY(-5px);
}

.slide:hover .slide-image {
  transform: scale(1.05);
}

.slick-dots {
  bottom: -25px;
}

.slick-dots li {
  margin: 0 5px;
}

.custom-dot {
  width: 10px;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}


.slick-prev, .slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
  display: none; /* Hide the default arrows */
}

@media (max-width: 768px) {
  .slide {
      height: 150px;
  }
}

@media (max-width: 480px) {
  .slide {
      height: 120px;
  }
}

/* Divider Lines */
.outerHrHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 90%;

  p {
      font-size: 20px;
      font-weight: 100;
      color: #fff;
  }
}

.innerHr1, .innerHr2 {
  flex: 1;
  background-color: white;
  height: 1px;
  margin: 0 10px;
  transition: margin 0.3s ease;
}

@media screen and (max-width: 768px) {
  .innerHr1, .innerHr2 {
      margin: 0 20px;
  }
}

.partHeader {
  font-size: 40px;
  color: #fff;
}

.partImage {
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  transition: transform 0.4s ease;
  object-fit: cover;

  &:hover {
      transform: scale(1.45);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

//
 $primary-color: #00aecb;
$background-color: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
$button-color: #f4e38b;

.benefits-activities-container {
  background-color: $background-color;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  color: white;

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    .tab {
      background: none;
      border: none;

      color: white;
      font-size: 1.2rem;
      padding: 1rem 2rem;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: $primary-color;
      }

      &.active {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
      }
    }
  }

  .benefits-content,
  .activities-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .benefit-item,
    .activity-item {
      width: 20%;
      min-width: 200px;
      margin: 1rem 0;
      text-align: center;

      img {
        width: 50px;
        height: 50px;
        margin-bottom: 1rem;
      }

      h3 {
        color: $primary-color;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
      }

      p {
        color: #d8e0e6;
        font-size: 0.9rem;
      }
    }
  }

  .enquire-button {
    background-color: $button-color;
    color: #000;
    padding: 1rem 2rem;
    border-radius: 30px;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
      background-color: darken($button-color, 10%);
    }
  }

  @media (max-width: 768px) {
    .benefits-content,
    .activities-content {
      flex-direction: column;
      align-items: center;

      .benefit-item,
      .activity-item {
        width: 80%;
      }
    }
  }
}

// Business Forum 

.business-forum {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.2);

    &.image-1 {
      background-image: url('https://res.cloudinary.com/dueoon8xe/image/upload/v1726315680/lylg3pvagspfqct3xss5.jpg');
    }

    &.image-2 {
      background-image: url('https://info.wobi.com/wp-content/uploads/2023/11/wbf_syd_2023_sponsors_001_840x560-min.webp?_t=1701080635');
    }

    &.image-3 {
      background-image: url('https://info.wobi.com/wp-content/uploads/2023/11/wbf_syd_2023_vip_attendee_003_840x560-min.webp?_t=1701080650');
    }

    &.image-4 {
      background-image: url('https://res.cloudinary.com/dueoon8xe/image/upload/v1726315686/tfp5yxirqgo65sh8bt1x.jpg');
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    color: white;

    h2 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;
        font-size: 1.1rem;
      }
    }

    .enquire-btn {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #ffcc00;
      color: black;
      text-transform: uppercase;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ff9900;
      }
    }
  }
}

//  CountDown Timer
$neon-color: #ffffff;
$bg-color: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));;
// $neon-glow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 3px #ffffff, 0 0 35px #00ffff, 0 0 5px #00ffff, 0 0 5px #00ffff, 0 0 5px #00ffff;

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-color: $bg-color;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  
  @media (max-width: 1024px) {
    gap: 20px;
  }

  @media (max-width: 768px) {
    gap: 12px;
  }

  @media (max-width: 480px) {
    // flex-direction: column;
    gap: 10px;
  }
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media  screen and (max-width:480px) {
    margin-top: 40px;
  }
  @media  screen and (max-width:768px) {
    margin-top: 20px;
  }
}

.digits {
  font-size: 6rem;
  font-weight: 700;
  color: $neon-color;
  margin: 0;
  
  @media (max-width: 1024px) {
    font-size: 5rem;
  }

  @media (max-width: 768px) {
    font-size: 2.25rem;
  }

  @media (max-width: 480px) {
    font-size: 1.75rem;
  }

  @media (max-width: 320px) {
    font-size: 1.25rem;
  }
}

.colon {
  font-size: 6rem;
  font-weight: 700;
  color: $neon-color;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  @media (max-width: 1024px) {
    font-size: 5rem;
  }

  @media (max-width: 768px) {
    font-size: 3rem;
  }

  @media (max-width: 480px) {
    font-size: 2rem;
  }

  @media (max-width: 320px) {
    font-size: 1rem;
  }
}

span {
  font-size: 1.5rem;
  color: $neon-color;
  margin-top: 10px;
  
  @media (max-width: 1024px) {
    font-size: 1.3rem;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media (max-width: 480px) {
    font-size: 1rem;
  }

  @media (max-width: 320px) {
    font-size: 0.9rem;
  }
}

.ticketButton{
  background-color: transparent;
  border: 1px solid #ffc800;
  padding: 10px 35px;
  border-radius:30px ;
  font-size: 16px;
  color: #ffc800 ;
  font-weight: 100;
  transition: all 0.4s ease;
}
.ticketButton:hover{
  background-color: #ffc800;
  border: 1px solid #ffffff; 
  color: white;
  cursor: pointer;
}

.ticketCard{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  border-radius: 10px;
  padding: 30px;
  // background: linear-gradient(135deg, #00d2ff, #3a7bd5);
  background: linear-gradient(135deg, #0f4c81, #1f77d0, #2b3a67, #1e2a78);
  margin: 0 2%;
  h3{
    font-weight: 100;
    font-size: 28px;
    text-align: center;
  }
  h2{
    font-weight: 600;
    font-size: 40px;
    margin-top: 40px;
  }
  span{
    color: #898989;
    text-decoration: line-through;
    font-size: 20px;
    margin-top: 0;
  }
}

.customHr{
  height: 4px;
  width: 70%;
  background: linear-gradient(135deg, #00d2ff, #3a7bd5);
  margin: 10px 10px;
}

.ticketContent{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 80px 0;
  @media screen and (max-width: 1024px) {
    .ticketCard{
      min-width: 300px;
    }
      flex-wrap: wrap;
      gap: 20px;
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    text-align: center;
    padding: 2%;
    li{
      font-size: 12px;
    }
}
}

.accordian {
  margin: 60px auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.accordian li {
  list-style: none;
  color: #ffffff;
  width: 100%;
  margin: 10px;
  // padding: 10px;
  border-radius: 8px;
}
.accordianContent li{
  list-style: disc;
}

.accordian label {
  display: flex;
  justify-content: center;  /* Center the label text and arrow */
  align-items: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 300;
  cursor: pointer;
  width: 100%;  /* Ensure the label takes up the full width */
  position: relative;  /* Required for positioning the arrow correctly */
}

.accordian label::after {
  content: "↓";
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: transform 0.3s;
}

input[type="radio"] {
  display: none;
}

.accordianContent {
  color: #dedede;
  padding: 0 10px;  /* Initial padding */
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
}

.accordian input[type="radio"]:checked + label + .accordianContent {
  max-height: 600px;
}

.accordian input[type="radio"]:checked + label::after {
  content: "↑"; /* Rotate arrow when expanded */
  transform: rotate(180deg);
}


.agendaContent{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:0 5%;
  table {
    max-width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th, td {
    border-bottom: 1px solid #0091ff;
    border-right: 1px solid #0091ff;
    padding: 8px;
    text-align: left;
    h2,p{
      margin-left: 5px;
    }
  }
  td{
    width: 500px;
  }
  @media screen and (max-width:1024px) {
    table{
      
    }
    th,td{
      h2{
        font-size: 18px;
      }
    }
  }
  @media screen and (max-width:768px) {
    table{
      
    }
    th,td{
      h2{
        font-size: 14px;
      }
    }
  }
}
.agendaBox2{
  display: flex;
  align-items: flex-start;
}
.agendaTable{
  max-width: 100%;
  flex:1;
  .dateMonth{
    font-size: 32px;
    @media  screen and (max-width:1024px) {
      font-size: 24px;
    }
    @media screen and (max-width:768px) {
      font-size: 16px;
    }
  }
  .dateDay{
    font-size: 60px;
    @media  screen and (max-width:1024px) {
      font-size: 40px;
    }
    @media screen and (max-width:768px) {
      font-size: 30px;
    }
  }
  .dateYear{
    font-size: 28px;
    @media  screen and (max-width:1024px) {
      font-size: 20px;
    }
    @media screen and (max-width:768px) {
      font-size: 10px;
    }
  }
  .dateHolder{
    margin: 15px;
  }
  
}
.squareImage{
  max-width: 250px;
  max-height: 120px;
  object-fit: contain;
  overflow: hidden;
}
.timerHeader{
  @media screen and (max-width:768px) {
    text-align: center;
  }
}